# 仮想環境のフォルダ
venv/

# 一時フォルダ
temp/*

# Pythonのキャッシュファイル
__pycache__/
*.pyc
*.pyo

# 出力されたファイル
output.*
*.mp3
capture_*
silence_*
file_list.txt

# 環境変数ファイル（APIキーなど）
.env

# その他の一般的な無視ファイル
.DS_Store
Thumbs.db
*.log
*.bak
